<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
        <ion-icon src="/assets/icon/logo.svg" class="logo"></ion-icon>
        <h4 no-margin>
        <ion-text color="light" class="fw500">
          Har-Bi
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          E-posta
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-icon name="ios-warning" [style.color]="'#FFFFFF'"></ion-icon>
        <ion-text color="light">
          Zorunlu alan
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Şifre
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-icon name="ios-warning" [style.color]="'#FFFFFF'"></ion-icon>
        <ion-text color="light">
          Zorunlu alan
        </ion-text>
        </p>
    </form>

    <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="light">
        <strong>Şifremi unuttum</strong>
      </ion-text>
    </p>

    <div class="login-btn">
      <ion-button size="medium" color="light" (click)="goToHome()" [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        GİRİŞ
      </ion-button>
    </div>
  </div>
</ion-content>
